.about__section {
  margin: 3.125rem auto;

  > * {
    padding: 0.625rem;
  }
  @include breakpoint-up(medium) {
    width: 90%;
    margin: 6.25rem auto;
    flex-direction: row !important;

    > * {
      max-width: 45%;
      padding: 1.25rem;
    }
  }

  .description {
    .head {
      width: 100%;
      a {
        margin: 0.625rem 0;
      }
      .fa {
        margin-right: 0.625rem;
      }
      .horizontal-line {
        width: 60%;
        height: 0.125rem;
        margin-left: 0.625rem;
        opacity: 0.7;
        border: 0.0625rem solid $primaryGray;
      }
    }

    .list {
      width: 100%;
      ul li {
        list-style: url(./../../assets/images/code.png);
      }
    }
  }

  .about__image {
    position: relative;
    @include breakpoint-down(medium) {
      width: 70%;
    }
    @include breakpoint-up(medium) {
      .img {
        max-width: 18.75rem;
      }
    }

    &:hover {
      .overlay {
        background: transparent;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -0.25rem;
      left: 0;
      border: 0.0625rem dotted $primaryGreen;
      border-radius: 0.3125rem;
      background: rgba(0, 0, 0, 0.3);
      transition: background 300ms ease-in-out;
    }
  }
}
