.about__section {
  margin: 50px auto;

  > * {
    padding: 10px;
  }
  @include breakpoint-up(medium) {
    width: 90%;
    margin: 200px auto;
    flex-direction: row !important;

    > * {
      max-width: 45%;
      padding: 20px;
    }
  }

  .description {
    .head {
      width: 100%;
      a {
        margin: 10px 0;
      }
      .fa {
        margin-right: 10px;
      }
      .horizontal-line {
        width: 60%;
        height: 2px;
        margin-left: 10px;
        opacity: 0.7;
        border: 1px solid $primaryGray;
      }
    }

    .list {
      width: 90%;
      ul li {
        list-style: url(./../../assets/images/code.png);
      }
    }
  }

  .about__image {
    position: relative;
    @include breakpoint-down(medium) {
      width: 95%;
    }

    &:hover {
      .overlay {
        background: transparent;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 1px dotted $primaryGreen;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.3);
      transition: background 300ms ease-in-out;
    }
  }
}
