.connect__section {
  margin: 3.125rem auto;

  > * {
    padding: 0.625rem;
  }
  @include breakpoint-up(medium) {
    width: 90%;
    margin: 6.25rem auto;
    flex-direction: row !important;

    > * {
      padding: 1.25rem;
      width: 90%;
      margin: auto;
    }
  }
  @include breakpoint-up(large) {
    > * {
      padding: 1.25rem;
      width: 60%;
      margin: auto;
    }
  }

  .content {
    .head {
      width: 100%;
      a {
        margin: 0.625rem 0;
      }
      .fa {
        margin-right: 0.625rem;
      }
    }
    .content__body {
      p {
        text-align: center;
      }
      .form {
        width: 90%;
        margin: 1.25rem auto;

        .form-input {
          margin: 1rem auto;
        }
      }
    }
  }
  .social__links {
    a {
      transition: color 300ms ease-in-out;

      &:hover {
        color: $primaryGreen;
      }
    }
  }
}
