/* sc-component-id: sc-global-1384518280 */
@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-Light.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-Light.woff) format("woff"), url(/assets/fonts/calibre/Calibre-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-LightItalic.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-LightItalic.woff) format("woff"), url(/assets/fonts/calibre/Calibre-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-Regular.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-Regular.woff) format("woff"), url(/assets/fonts/calibre/Calibre-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-RegularItalic.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-RegularItalic.woff) format("woff"), url(/assets/fonts/calibre/Calibre-RegularItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-Medium.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-Medium.woff) format("woff"), url(/assets/fonts/calibre/Calibre-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-MediumItalic.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-MediumItalic.woff) format("woff"), url(/assets/fonts/calibre/Calibre-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-Semibold.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-Semibold.woff) format("woff"), url(/assets/fonts/calibre/Calibre-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(/assets/fonts/calibre/Calibre-SemiboldItalic.woff2) format("woff2"), url(/assets/fonts/calibre/Calibre-SemiboldItalic.woff) format("woff"), url(/assets/fonts/calibre/Calibre-SemiboldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoRegularItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoMediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoSemibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(/assets/fonts/sf-mono/SFMonoSemiboldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
}
