.projects-cards {
  margin: 0 auto;

  > * {
    padding: 0.625rem;
  }
  @include breakpoint-up(medium) {
    width: 90%;
    margin: 0 auto 6.25rem;
    flex-direction: row !important;

    > * {
      padding: 1.25rem;
      width: 100%;
      margin: auto;
    }
  }

  .content {
    &__head {
      width: 100%;
      a {
        margin: 0.625rem 0;
      }
    }
    &__body {
      .card {
        height: 16.875rem;
        padding: 0.625rem;
        margin: 1%;
        background: $lightDark;
        border-radius: 0.3125rem;
        transition: all 300ms ease-in-out;
        &:hover {
          margin-top: -0.0625rem;
        }
        @include breakpoint-up(large) {
          width: 30%;
        }
        @include breakpoint-down(medium) {
          width: 48%;
        }
        @include breakpoint-down(xsmall) {
          width: 90%;
        }
        &-head a {
          margin: auto 0.3125rem;
        }
      }
    }
    &__footer {
      margin-top: 0.625rem;
    }
  }
}
