.projects {
  margin: 3.125rem auto 0;

  > * {
    padding: 0.625rem;
  }
  @include breakpoint-up(medium) {
    width: 90%;
    margin: 6.25rem auto 0;
    flex-direction: row !important;


    > * {
      padding: 1.25rem;
      margin: auto;
    }
  }

  .content {
    position: relative;

    .head {
      width: 100%;
      margin: 0 auto 2.5rem;

      a {
        margin: 0.625rem 0;
      }
      .fa {
        margin-right: 0.625rem;
      }

      .horizontal-line {
        width: 30%;
        height: 0.125rem;
        margin-left: 0.625rem;
        opacity: 0.7;
        border: 0.0625rem solid $primaryGray;
      }
    }
    &__body {
      margin: 3.125rem auto;

      p {
        z-index: 2;
      }

      @include breakpoint-up(medium) {
        p {
          padding: 0.625rem;
          background: $lightDark;
          border-radius: 0.3125rem;
        }
        p.first,
        p.third {
          margin-left: -6.25rem;
        }
        p.second {
          margin-right: -6.25rem;
        }
      }
      @include breakpoint-down(small) {
        border-radius: 0.3125rem;
        padding: 0.625rem;
        color: $primaryWhite;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
        &.gitostats{
          background-image: url(./../../assets/images/gitostats_screenshot.png);
        }
        &.complimentr{
          background-image: url(./../../assets/images/complimentr_screenshot.png);
        }
        &.covidash{
          background-image: url(./../../assets/images/covidash_screenshot.png);
        }
      }

      h3 {
        color: $primaryGreen;
        font-size: 1.25rem;
      }
      h4 {
        font-size: 1.5625rem;
      }
      a {
        margin: auto 0.625rem;
      }

      &--image img {
        opacity: 0.5;
        border-radius: 0.3125rem;
        transition: opacity 300ms ease-in-out;

        &:hover{
          opacity: 1;
        }
      }
      &--description {
        align-self: stretch;
        width: 90%;
        min-width: 15.625rem;
        
        >*{
          margin-bottom: 0.9375rem;
        }
        .links{
          margin-top: 1.25rem;
        }
      }
    }
  }
}
