$primaryDark: rgb(10, 25, 47);
$lightDark: rgb(23, 42, 69);
$primaryGreen: rgb(126, 224, 129);
$primaryGray: hsl(120, 100%, 97%);
$primaryWhite: hsl(0, 0, 100);

// Fonts size
$font-md: 1.125rem; //18px
$font-sm: 0.875rem; //14px
